
*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    overflow-x: hidden;
}
header{
    display: flex;
    justify-content: space-between;
    width: 98%;
    height: auto;
    background-color: rgba(37,37,37,255);
    padding: 20px 1rem;

}
header .logo{
    max-width: 100%;
    padding-left: 12px;
    margin: 9px;
    margin-top: 13px;
    color: white;
}
.Navbar ul{
    display: flex;
    margin-right: 20px;
}

.Navbar li{
    list-style-type: none;
    padding: 10px;
}
.Navbar li a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    line-height: 1.80857;
    font-size: 23px;
    color: white;
}

.Navbar li a:hover{
    cursor: pointer;
    transition: 1s;
    font-size: 24px;
    color: #f76d37
}
.icon i:hover{
    transition:1s;
    color: #f76d37 ;
    font-size: 20px;
}
.main_first{
    background-image: url(Images/banner-bg.png);
    width: 100%;
    height: 500px;
    background-size: 100%;
    padding: 10px 0 25px 0px;
    background-repeat: no-repeat;
}
.First-Indication{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
    font-weight: 200;
}        
.First-Indication h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 80px;
    width: 100%;
    margin-left: -26px;
    float: left;
    font-size: 45px;
    margin-bottom: 23px;
    color: rgb(22, 21, 21);
}
.First-Indication h1{
    color: white;
    font-size: 80px;
    margin-left: -26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 12px;
    font-weight: bolder;
}
.First-Indication p{
    font-size: 20px;
    color: white;
    width: 70%;
}
.First-Indication button{
    border: 1px solid black;
    background-color: black;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
    font-size: 20px;
    margin-top: 20px;
}

.main_second{
    margin-top: 100px;
}
.main_second_left_ext{
    width: 50%;
    margin: auto;
}
.main_second_left{
    width: 100%;
}
.main_second_left p{
    margin: auto;
    color: #333;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.main_second_left h2{
    color: #f76d37;
    font-weight: bolder;
    font-size: 40px;
    text-align: left;
    margin-bottom: 17px;
}

.main_second_left_ext button{
    margin-top: 22px;
    background-color: black;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    padding: 15px;

}
.main_second{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.main_second_right{
    max-width: 50%;
}
.main_second_right img{
    max-width: 80%;
    height: auto;
}

.menu_icon{
    display: none;
}

.main_third{
    margin-top: 80px;
}
.main_third h1{
    color: #f76d37;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
.main_third p{
    padding-top: 16px;
    width: 80%;
    text-align: center;
    margin: auto;
    font-size: 18px;
    font-weight: 100;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.pictures_browser{
    margin: 80px auto;
}
.first_column{
    display: flex;
    justify-content: center;
    margin: auto;
}
.first_column img{
    border-radius: 12px;
}

.column_position{
    position: relative;
    margin: 12px 12px;
}
.text{
    position: absolute;
    top: 0;
    width: 100%;
    height: 99%;
    border-radius: 12px;
    margin: 0;
    padding-bottom: -12px;
    opacity: 0;
    background-color: rgb(100, 100, 100, .6);
    transition: 0.8s all ease;
}
.text:hover{
    opacity: 1;
}
.text i{
    position: absolute;
    top: 40%;
    left: 40%;
    color: white;
    font-size: 70px;
}
.pictures_browser_button{
    border: 1px solid inherit;
    font-size: 22px;
    padding: 15px 45px;
    border-radius: 12px;
    color: white;
    margin: 10px;
    background-color: #333;
    cursor: pointer;
}
.pictures_browser_button:hover{
    background-color: #f76d37;
    transition: 0.5s;
}

.main_fourth{
    background-image: url('./Images/services-bg.png');
    width: 100%;
    height: auto;
    padding-top: 400px;
    padding-bottom: 100px;
    background-position: center center;
    background-repeat: repeat-x;
    background-attachment:fixed ;
}
.main_fourth h1{
    text-align: center;
    margin: 10px;
    font-size: 50px;
    font-weight: bold;
    margin-top: 30px;
    color: white;
}
.main_fourth .text_title{
    text-align: center;
    font-size: 20px;
    margin-top:10px ;
    color: white;
}
.card_postals{
    display: flex;
    justify-content: center; 
    margin-bottom: 42px;
}
.header_top_card{
    overflow-y:hidden;
    height:300px;
    border: 1px solid inherit;
    width: 25%;
    margin: 20px 12px;
    color: wheat;
    background-color:#f76d37 ;
    border-radius: 12px 10px 12px 10px;
}
.header_top_card .postal_image {
    padding: 10px;
    text-align: center;
    margin-top: 12px;
}
.header_top_card h2{
    text-align: center;
    margin-top: 12px;
    font-size: 40px;
    margin-bottom: 10px;
}
.header_top_card p{
    font-size: 20px;
    padding: 10px;
    text-align: center;
    margin-bottom: 60px;
}
.div_button_postal{
    text-align: center;
    margin-bottom: 12px;
}
.button_display_postal{
    border: 1px solid black;
    font-size: 20px;
    padding: 12px;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    background-color: black;
    color: white;
    margin-top: 10px;
    margin-bottom: 52px;

}
.header_top_card:hover{
    height: 400px;
    background-color: wheat;
    color: black;
    transition: 1s;
}
.main_fivth{
    color: #f76d37;
    text-align: left;
    max-width:800px ;
    margin: 80px 170px;
}
.first_section_fivth{
    margin-left: 12px;
}
.main_fivth h1{
    font-size: 50px;
}
.main_fivth p{
    margin-top: 15px;
    font-size: 20px;
    color: #333;
    text-align: left;
    margin-bottom: 62px;
}
.review{
    margin: auto;
    text-align: center;
    max-width: 100%;
    padding: 10px;
    padding-left: 20px;
}
.review form{
    width: 100%;
}
.review fieldset{
    border-left: 1px solid black;
    border-top: 1px solid black;
    display: inline;
}
.review legend{
    font-weight: bolder;
    padding-right: 12px;
    font-size: 40px;
    padding-left: 12px;
}
.review p{
    line-height: 2rem;
    font-weight: bold;
    font-size: 19px;
    padding-left: 14px;
}


.main_sixth{
    width: 100%;
    display: flex;
}
.left_section_sixth{
    width: 50%;
    border: 1px solid black;
    background-image: url('./Images/img-9.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.left_section_sixth input , .left_section_sixth textarea{
    border: 1px solid inherit;
    font-weight: normal;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px; 
    color: #666666;
    text-align: left;
    line-height: 1.4rem;
    padding:11px 8px;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 80%;
}
.left_section_sixth textarea{
    resize: none;
}
.section_sixth_div h2{
    margin-top: 10px;
    color: white;
}
.section_sixth_div div{
    border: 1px solid white;
    margin-bottom: 16px;
}
.section_sixth_div button{
    border: 1px solid #f76d37;
    padding: 10px 20px;
    color: white;
    border-radius: 12px;
    font-size: 18px;
    background-color: #f76d37;
}
.section_sixth_div:first-child{
    margin-top: 32px;
}

.section_sixth_div{
    width: 80%;
    margin: auto;
}

.right_section_sixth{
    width: 50%;
}


footer{
    margin-top: 12px;
    display: flex;
    height: 350px;
    background-color: #333;
    color: white;
    justify-content: center;
    align-self: center;
}
footer ul{
    margin-top: 46px; 
    margin-left: 22px;
}
footer li{
    list-style: none;
    line-height: 1.5rem;
    margin-bottom: 12px;
    margin-left: 4px;
}
.Menu li :hover{
    color:#f76d37;
    cursor: pointer;
}
.Link li:hover{
    color: #f76d37;
    cursor: pointer ;
}
.tmp{
    margin-top: 6px;
    border: 1px solid white;
    margin-bottom: 28px;
}
.About , .Menu , .Contact , .Link{
    width: 15%; 
}


@media screen and (max-width:960px) {
    .menu_icon{
        display: block;
    }
    .Navbar ul li:not(.menu_icon){
        display: none;
    }
}
@media screen and (max-width:1020px){
    .First-Indication{
        overflow: hidden;
    }
    .First-Indication p{
        display: none;
    }
    .First-Indication h2{
        margin: 10px;
        font-size: 25px;
    }
    .First-Indication h1{
        font-size: 60px;
    }
}
@media screen and (max-width:600px) {
    .First-Indication h2{
        margin-top: 20px;
    }
    .First-Indication h1{
        font-size: 50px;
        width: 100%;
    }
}

@media screen and (max-width:800px) {
    .main_second{
        margin-top: -100px;
    }
    .main_second_left_ext p{
        font-size:12px;
    }
    .main_second_left_ext button{
        display: none;
    }
    
}