
.main_third{
    margin-top: 80px;
}
.main_third h1{
    color: #f76d37;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
.main_third p{
    padding-top: 16px;
    width: 80%;
    text-align: center;
    margin: auto;
    font-size: 18px;
    font-weight: 100;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.pictures_browser{
    margin: 80px auto;
}
.first_column{
    display: flex;
    justify-content: center;
    margin: auto;
}
.first_column img{
    border-radius: 12px;
}

.column_position{
    position: relative;
    margin: 12px 12px;
}
.text{
    position: absolute;
    top: 0;
    width: 100%;
    height: 99%;
    border-radius: 12px;
    margin: 0;
    padding-bottom: -12px;
    opacity: 0;
    background-color: rgb(100, 100, 100, .6);
    transition: 0.8s all ease;
}
.text:hover{
    opacity: 1;
}
.text i{
    position: absolute;
    top: 40%;
    left: 40%;
    color: white;
    font-size: 70px;
}
.pictures_browser_button{
    border: 1px solid inherit;
    font-size: 22px;
    padding: 15px 45px;
    border-radius: 12px;
    color: white;
    margin: 10px;
    background-color: #333;
    cursor: pointer;
}
.pictures_browser_button:hover{
    background-color: #f76d37;
    transition: 0.5s;
}