
.main_first{
    background-image: url(./../../public/Images/banner-bg.png);
    max-width: 1150px;
    height: 600px;
    background-clip:border-box;
    background-size:cover;
    background-position: center center;
    margin-top: 25px;
    padding: 10px 0 25px 0px;
    background-repeat: no-repeat;
}
.First-Indication{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
    font-weight: 200;
}        
.First-Indication h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 80px;
    width: 100%;
    margin-left: -26px;
    float: left;
    font-size: 45px;
    margin-bottom: 23px;
    color: rgb(22, 21, 21);
}
.First-Indication h1{
    color: white;
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 12px;
    font-weight: bolder;
    text-align: center;
}
.First-Indication p{
    font-size: 20px;
    color: white;
    width: 70%;
}
.First-Indication button{
    border: 1px solid black;
    background-color: black;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
    font-size: 20px;
    margin-top: 20px;
}
.Carousel-h3{
    overflow: hidden;
}

/* @media screen and (max-width:1020px){
    
    .First-Indication h2{
        margin: 10px;
        font-size: 35px;
    }
    .First-Indication h1{
        font-size: 60px;
    }
}
@media screen and (max-width:600px) {
    .First-Indication h2{
        margin-top: 20px;
    }
    .First-Indication h1{
        font-size: 60px;
        width: 100%;
    }
} */


@media screen and (max-width:975px){
    .First-Indication h1{
        font-size: 60px;
        width: 100%;
    }
    .First-Indication h2{
        font-size: 35px;
    }
    
}

@media screen and (max-width:600px) {
    .main_first{
        height: 400px;
    }
    .First-Indication p{
        display: none;
    }
    .First-Indication h2{
        font-size: 25px;
    }
    .First-Indication h1{
        font-size: 40px;
        width: 100%;
    }
    .Carousel_image{
        height: 100px;
        width: 500px; 
    }
}